<div class='my-cool-home-page'>
  <div class='row'>
    <div class='col-md-12 home-text-hero'>
    <h1>Connect with your customers</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12 home-text-hero'>
      <h3>When you data is all in one place; it's a one-stop shop for app developers.</h3>
    </div>
  </div>
</div>

