// Place all the styles related to the api/Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$info-background-color: lighten(#9E9E9E, 30%);
$doc-border-color: #9E9E9E;

.collapsible-body {

  background-color: $info-background-color;

  .left-doc {

  }

  .right-doc {
    margin: 20px;
    background-color: white;
    box-shadow: inset 3px 2px 10px -4px rgba(0,0,0, 0.5), inset -3px -2px 10px -4px rgba(0,0,0,0.5);
  }
}


