 <ul class="nav nav-tabs">
    <li role="presentation" class=<%= active_if(dashboard_path) %>>
        <%= link_to 'Admin Dashboard', dashboard_path %>
    </li>
    <li role="presentation" class=<%= active_if(new_store_path) %>>
        <%= link_to "Add a Store", new_store_path %>
    </li>
  </ul>
