
<h2>Welcome to groceryLink!</h2>
<p></p>
<p>Hello <%= @user.name %>,</p>
<p></p>
<p>We look forward to seeing what you create!</p>
<p></p>
<p>Your client id: <%= @client_id %></p>
<p>Your secret id: <%= @secret_id %></p>
<p></p>
<p>All api calls require both be sent for authentication.</p>
<p></p>
<p>Thanks for joining!</p>
