// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.adnav {
  margin-bottom: 20px;
}

.panel {
  text-align: center;

  .panel-body {
    font-size: 2em;
  }
}
