// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.adnav {
  margin-bottom: 20px;
}

.dash-page {
  margin-top: 30px;
  padding: 10px;

  .dash-header {
    font-family: Quicksand;
    font-size: 25px;
  }

  .row.initial-dash {
    background-color: white;

    .report-col {
      padding: 0;

      .each-report {
        height: 100px;
        border: 1px solid #9E9E9E;
        padding: 10px;

        .report-header {
          font-family: Quicksand;
        }

        .report-body {
          font-size: 22px;
        }
      }
    }
  }

  .reports-detail {

    h4 {
      font-size: 22px;
      line-height: 2em;
    }
  }
}
