@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "materialize";
//You need to now manually import every other scss file.
@import 'admin';

$body-color: #A0CA92;

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.yield {
  margin-top: 25px;
}

body {
  background-color: lighten($body-color, 10%);
}

