@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "materialize";
//You need to now manually import every other scss file.
@import 'admin';
@import 'api/welcome';

$bone-white: #F8FAF5;

.home-logo {
  font-family: Flamenco;
  font-size: 2.5em;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.yield {
  margin-top: 25px;
}

body {
  background-color: $bone-white;
}

.pagination {

  .active {

    span {
      border-color: $primary-color;
      background-color: $primary-color;

    }
  }
}

select {
  background-color: $bone-white;
  border-color: #9E9E9E;
}

.actions {

  input {
    background-color: $bone-white;
    border: 1px solid #9E9E9E;
    border-radius: 5px;
    transition-duration: 2s;

    &:hover{
      border-radius: 0;
    }
  }
}



.submit {
  background-color: $bone-white;
  border: 1px solid #9E9E9E;
  border-radius: 5px;
  transition-duration: 2s;

  &:hover {
    border-radius: 0;
  }
}



